.sketch {
  display: flex;
  flex-direction: column;

  .toolbar {
    flex: 1;
    padding: 0.5em;
    border: 1px solid $primary-low;
    margin-bottom: 0.5em;
  }

  .editor {
    flex: 1;
    padding: 0.5em;
    border: 1px solid $primary-low;
    margin-bottom: 0.5em;
  }

  #canvas {
    background: white;
    border: 1px solid $primary-low;
    box-sizing: border-box;
    margin-bottom: 0.5em;
  }

  .shape-button {
    display: inline-flex;

    .widget-button {
      border: 1px solid transparent;
    }

    &.is-current-type {
      .widget-button {
        border: 1px solid $tertiary;
      }
    }
  }
}
